h2{
    background-color: #0e5228;
    padding: 5px;
}
#info {
    width: 960px;
    margin: 0px auto;
}
#target{
    width: 960px;
    margin: 0px auto;
}
#education{
    width: 960px;
    margin: 0px auto;
}
#experience{
    width: 960px;
    margin: 0px auto;
}
#activity{
    width: 960px;
    margin: 0px auto;
}
#skill{
    width: 960px;
    margin: 0px auto;
}
#certificate{
    width: 960px;
    margin: 0px auto;
}
#hobby{
    width: 960px;
    margin: 0px auto;
}
#project{
    width: 960px;
    margin: 0px auto;
}
#contact{
    width: 960px;
    margin: 0px auto;
}

body{
    font-size: 30;
    margin:0;
    background-color: antiquewhite;
}

.info {
    border-style:inset;
    border-width: 2px;
    border-color: brown;

}

.section-content {
    display: grid;
    grid-template-columns: auto auto;
}


.img{
    display: flex;
    justify-content: center;
    align-items: center;
}